* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

/* created class to style header element */
.header {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 25px;
}

/* created content class to style main content */
.content {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}

/* created id to style the start button */
#start-button {
    border: none;
    background-color: blue;
    color: aliceblue;
    border-radius: 25px;
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 10px 24px;
    text-align: center;
    cursor: pointer;
}